:root {
    --main-bg-color: white;
    --main-text-color: black;
}
body {
    font-family: "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}

.content {
    padding: 0px 10px;
}

.highlighted {
    font-family: monospace;
}

.bitcoin {
    color: #F7931A;
    word-wrap: break-word;
}

.monero {
    color: #f33900;
    word-wrap: break-word;
}

/*--------- Dark mode styles----------*/
body.dark-mode{
    --main-bg-color: rgb(28, 28, 28);;
    --main-text-color: white;
  }