:root {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

button {
  font-size: 0.8rem;
  padding: 3px 15px;
  color: white;
  line-height: 25px;
  background-color: #00bcd4;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
  transition: all 150ms ease-in;
  outline: none;
  height: fit-content;
}

button:hover {
  background-color: #79d7e4;
}

button.turn:hover {
  background-color: #eaeaea;
}

/* -------------Page content flex-box styles---------------- */
.flex-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: calc(100vh - 48px); 
  /* 48px is the height of the navbar. Unfortunately I can't figure out how to
   calculate this on the fly with plain CSS. So I'll have to remember to come back
   here and change this if the height of the navbar changes.*/
}

/* Left column */
.rooms-column {  
  box-sizing: border-box; 
  flex-basis: 40%;
  overflow-y: scroll;
}

/* Center column */
.chat-column {
  flex-basis: 40%;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Right Column */
.leaderboard-column {
  flex-basis: 20%;
}

/* ----------Styles for elements within room-column--------------- */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid lightgray;
}

li {
  padding: 10px 10px 10px 10px;
}

.controls-wrapper {
  background-color: rgb(255, 255, 255);
  width: 95%;
  margin: 20px auto;
  border: 1px solid lightgrey;
}

#new-game-form {
  display: flex;
  margin: 0px;
  padding: 10px;
}

.controls {
  border-bottom: 1px solid lightgray;
}

#new-game-form input{
  flex-grow: 1;
}

.input-label {
  padding: 5px 8px;
}

#new-game-button {
  width: 85px;
  padding: 3px 8px;
  margin: 0px 15px 0px 15px;
}

a {
  text-decoration: none;
}

/* ------------- Styles for elements within chat-column ------------ */
#messages {
  height: 97%;
}

#chat-form {
  height: auto;
}

#chat-input {
  font-size: 1.15rem;
  box-sizing: border-box;
  width: 100%;
}