:root {
  height: 100%;
  user-select: none;
  --main-bg-color: white;
  --main-text-color: black;
  --button-bg-color: #4897ff;
  --button-hover-bg-color: #79b2fc;
  --standard-box-shadow: rgba(0, 0, 0, 0.65) 1px 2px 6px;
  --standard-section-divider: 2px solid #8d8d8d;
  --column-scrollbar-width: 10px;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}

button {
  font-size: 1rem;
  padding: 3px 15px;
  color: var(--main-bg-color);
  background-color: var(--button-bg-color);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: var(--standard-box-shadow);
  transition: all 150ms ease-in;
  outline: none;
  height: 25px;
  white-space: nowrap;
}

button:hover {
  background-color: var(--button-hover-bg-color);
}

/* -------------Page content container styles---------------- */
.lobby-content {
  height: calc(100vh - 43px); 
  /* 43px is the height of the navbar. Unfortunately I can't figure out how to
   calculate this on the fly with plain CSS. So I'll have to remember to come back
   here and change this if the height of the navbar changes.*/
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 99%;
}

.controls-wrapper {
  background-color: var(--main-bg-color);
  width: 97%;
  height: 98.3%; /*stop #messages from expanding. Not really sure why this works...*/
  margin: auto;
  border: var(--standard-section-divider);
  overflow-x: hidden;
  position: relative;
}

#rooms-controls-wrapper {
  margin-top: 0.674vh; /* Dumb patch fix because I can't get the columns aligned right */
  width: 92%;
  overflow-y: scroll;
  padding-left: var(--column-scrollbar-width);
}

.rooms-column {  
  box-sizing: border-box; 
  flex-basis: 40%;
  overflow-y: hidden;
  /*margin-left: var(--column-scrollbar-width);*/   /*An attempt to make the columns look evenly spaced before the room column scroll bar appears*/
}

.chat-column {
  flex-basis: 30%;
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

.leaderboard-column {
  flex-basis: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* ----------Styles for elements within room-column--------------- */
.lobby-container {
  border-bottom: var(--standard-section-divider);
}
.lobby-header-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  box-sizing: border-box;
  height: 100%;
  width: inherit;
  margin: 10px 5px;
  padding: 5px;
  border-radius: 2px;
  cursor: pointer;
  color: rgb(48, 48, 48);
  background-color: #4897ff;
  box-shadow: var(--standard-box-shadow);
}

.active, .lobby-header-container:hover {
  background-color: #79b2fc;
}

#collapse-caret {
  border: 1px solid lightskyblue;
}

.lobby-text {
  margin: 0px;
  padding: 0px 5px;
}

#lobby-user-list {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .3s ease-out;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 10px 10px 10px 10px;
}

.game-label {
  font-weight: bold;
}

.player-list li {
  padding: 0px;
}

.player-list li[inGame="false"]{
  font-style: italic;
}

#new-game-form {
  display: flex;
  margin: 0px;
  padding: 10px;
}

.controls {
  border-bottom: var(--standard-section-divider);
}

#new-game-form input{
  flex-grow: 1;
}

.input-label {
  padding: 5px 8px;
}

#new-game-button {
  width: 95px;
  padding: 3px 8px;
  margin: 0px 15px 0px 15px;
}

a {
  text-decoration: none;
}

/* ------------- Styles for elements within chat-column ------------ */
#messages {
  height: 96.2%;
  overflow-y: scroll;
}

#messages li {
  word-wrap: break-word;
}

#chat-form {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: visible;
}

#chat-input {
  font-size: 1.15rem;
  box-sizing: border-box;
  width: 100%;
  padding: 0px;
  border-width: 1px;
  border-style: solid;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}

#chat-input:focus {
  outline-style: none;
  border-width: 1px;
  border-style: solid;
  box-shadow: var(--standard-box-shadow);
}

/*--------------- Scroll bars -------------------*/
body {
  scrollbar-color: #888 var(--main-bg-color);
  scrollbar-width: var(--column-scrollbar-width);
}

::-webkit-scrollbar {
  background-color: black;
  width: var(--column-scrollbar-width);
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--main-bg-color); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/*--------------- Dark mode styles-------------------*/
body.dark-mode{
  --main-bg-color: rgb(48, 48, 48);
  --main-text-color: white;
  --standard-box-shadow: rgba(0, 0, 0, 0.95) 1px 2px 6px;
  /*--standard-border-color: rgb(92, 92, 92);*/
}

.dark-mode button {

}
