body {
    font-family: "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

input {
    outline: none;
    font-size: 1.0rem;
    padding: 0 5px;
    display: inline-block;
    size: 10;
}

button {
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: 3px 15px;
    color: white;
    line-height: 15px;
    background-color: #4897ff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
    transition: all 150ms ease-in;
    outline: none;
}

button:hover {
    background-color: #79b2fc;
}

.controls-wrapper {
    background-color: rgb(182, 182, 182);
    width: 650px;
    margin: 20px auto;
    border: 1px solid lightgrey;
}

.chat-wrapper {
    padding: 10px;
}

.chat-wrapper form {
    display: flex;
}

.chat-wrapper form input {
    font-size: 1.0rem;
    margin: 0 10px 0 0;
    padding: 0 5px;
    flex-grow: 1;
}

.chat-wrapper form button {
    width: 80px;
}

#login{
    line-height: 30px;
}

#email-form {

    line-height: 60px;
    padding-right: 80px;
    height: 37px;
}

#login-form {
}

#password-form {
    height: 37px;
}

.mini-controls {
    display: flex;
}

.mini-control {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
    padding: 5px;
}

#content {
    height: 100vh;
    width: 100vw;
}

#image {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5),  rgba(0, 0, 0, 0.5));
    position: absolute;
    top: 0;
    z-index: 1;
 }

 #video {
    height: 100%;
    width: 133.3333333333vh;
    min-width: 100%;
    min-height: 75vw;
    position: absolute;
    left: 50%; /* % of surrounding element */
    top: 50%;
    transform: translate(-50%, -50%); /* % of current element */
    z-index: 0;
  }
  
  .button-text.active:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
    animation: ellipsis steps(4,end) 900ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
  }
  
  @keyframes ellipsis {
    to {
      width: 1.25em;    
    }
  }
  
  @-webkit-keyframes ellipsis {
    to {
      width: 1.25em;    
    }
  }

  @media only screen and (max-width: 600px) {
    body {
      overflow: scroll;
    }
    form, #password-form {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .chat-wrapper form input {
        font-size: 1.2rem;
        margin: 5px 10px;
        padding: 5px 5px;
        flex-grow: 1;
    }
    #image {
        display: block;
        background-image: none;
    }
    .controls-wrapper {
        width: 300px;
    }
    #email-form{
        height: auto;
    }
  }