:root {
    user-select: none;
    --main-bg-color: white;
    --imperial-color: #ff00ff;
    --continental-color: #00ffff;
    --worldwide-color: #9e4104;
    --festival-color: #00ff00;
    --american-color: #0000ff;
    --tower-color: #ffff00;
    --luxor-color: #ff0000;
    --pending-tile-color: gray;
    --single-tile-color: black;
    --single-tile-border-color: dimgray;
    --standard-empty-tile-color: #f8f8bc;
}
body {
    font-family: "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
}

input {
    outline: none;
    font-size: 1.0rem;
    padding: 0 5px;
}

button {
    font-size: 0.8rem;
    padding: 3px 15px;
    color: white;
    line-height: 25px;
    background-color: #00bcd4;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
    transition: all 150ms ease-in;
    outline: none;
}

button:hover {
    background-color: #79d7e4;
}

button.turn:hover {
    background-color: #eaeaea;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid lightgray;
    overflow-y: scroll;
}

li {
    padding: 10px 10px 10px 10px;
}

a {
    text-decoration: none;
}

canvas {
    display: block;
    margin: 10px auto;
}

.game-board {
    margin: 10px auto;
    width: 95%;
    aspect-ratio: 4/3;
}

.game-board td {
    border-style: inset;
    text-align: center;
    font-size: 1.5vw;
    font-weight: bold;
    width: 8.333333%;
    background-color: var(--standard-empty-tile-color);
}

#tile-bank {
    margin: 10px auto;
    width: 70%;
    justify-content: space-around;
}

#tile-bank span {
    border-style: outset;
    font-size: 1.5vw;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 10.9%; 
    background-color: var(--single-tile-color);
    border-color: var(--single-tile-border-color);
    color: white;
    aspect-ratio: 1/1;
}

#chain-selector-row {
    margin: 10px auto;
    width: 80%;
    justify-content: space-around;
}

#chain-selector-row span {
    font-size: 1.5vw;
    font-weight: bold;
    display: none;
    align-items: center;
    justify-content: center;
    width: 10.9%; 
    aspect-ratio: 1/1;
}

.stats-board {
    margin: 10px auto;
    width: 95%;
    border: 3px solid var(--main-bg-color);
    border-collapse: collapse;
    table-layout: fixed;
}

.stats-board th, .stats-board td {
    border: 3px solid var(--main-bg-color);
    border-collapse: collapse;
    background-color: lightgray;
    font-size: 1.25vw;
    font-weight: bold;
    overflow: hidden;
}

.chain-table-header {
    width: 7%;
}

.player-table-header {
    width: 25%;
}

.cash-table-header {
    width: 13%;
}

.net-table-header {
    width: 13%;
}

#ihead, #ibutton {
    background-color: var(--imperial-color);
}

#chead, #cbutton {
    background-color: var(--continental-color);
}

#whead, #wbutton {
    background-color: var(--worldwide-color);
}

#fhead, #fbutton {
    background-color: var(--festival-color);
}

#ahead, #abutton {
    background-color: var(--american-color);
}

#thead, #tbutton {
    background-color: var(--tower-color);
}

#lhead, #lbutton {
    background-color: var(--luxor-color);
}

#stats-placeholder-row, #button-buffer-row{
    background-color: var(--main-bg-color);
    color: var(--main-bg-color);
    font-size: 0.4vw; /* control height of space between player and bank rows*/
}

#button-row-placeholder {
    font-size: 2.2vw;
    background-color: var(--main-bg-color);
}

#share-cart span {
    font-size: 1.5vw;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 10.9%; 
    aspect-ratio: 1/1;
    background-color: gray;
}

#dispose-shares-container, #buy-shares-container {
    display: none;
}

.dispose-shares-table {
    margin: 10px auto;
    width: 95%;
    border: 1px solid black;
    border-collapse: collapse;
}

.dispose-shares-table th, .dispose-shares-table td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: white;
    font-size: 1.25vw;
    font-weight: bold;
}

#dispose-shares-button-row td {
    width: 11.111111%;
}

.share-action-button {
    margin: 10px auto;
}

#start-game-button {
    display: none;
}

.dynamic-share-info-column {
    flex-basis: 70%;
}

.dynamic-share-action-column {
    flex-basis: 30%;
}

/* Left column */
.game-column {   
    flex-basis: 55%;
}
  
/* Right column */
.stats-column{
    flex-basis: 45%;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.controls-wrapper {
    background-color: rgb(255, 255, 255);
    width: 95%;
    margin: 20px auto;
    border: 1px solid lightgrey;
}

.chat-wrapper {
    padding: 10px;
}

.chat-wrapper form {
    display: flex;
}

.chat-wrapper form input {
    font-size: 1.0rem;
    margin: 0 10px 0 0;
    padding: 0 5px;
    flex-grow: 1;
}

.chat-wrapper form button {
    width: 80px;
}

#events {
    height: 150px;
}

#games{
    height: 150px;
}

.input-label {
    padding: 5px 8px;
}

#new-game-button {
    width: 85px;
    padding: 3px 8px;
    margin: 0px 15px 0px 15px;
}