:root {
    user-select: none;
    --main-bg-color: white;
    --main-text-color: black;
    --button-bg-color: #4897ff;
    --button-hover-bg-color: #79b2fc;
    --standard-box-shadow: rgba(0, 0, 0, 0.65) 1px 2px 6px;
    --standard-section-divider: 2px solid #8d8d8d;
    --i-color: #ff00ff;
    --c-color: #00ffff;
    --w-color: #9e4104;
    --f-color: #00ff00;
    --a-color: #0000ff;
    --t-color: #ffff00;
    --l-color: #ff0000;
    --p-color: gray;
    --s-color: black;
    --single-tile-border-color: dimgray;
    --standard-empty-tile-color: #f8f8bc;
    --column-scrollbar-width: 10px;
}
body {
    font-family: "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
}

input {
    outline: none;
    font-size: 1.0rem;
    padding: 0 5px;
}

button {
    font-size: 1rem;
    padding: 3px 15px;
    color: var(--main-bg-color);
    background-color: var(--button-bg-color);
    border: none;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: var(--standard-box-shadow);
    transition: all 150ms ease-in;
    outline: none;
    height: 25px;
    white-space: nowrap;
}

button:hover {
    background-color: var(--button-hover-bg-color);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: var(--standard-section-divider);
    overflow-y: scroll;
}

li {
    padding: 10px 10px 10px 10px;
}

a {
    text-decoration: none;
}

.game-board {
    background-color: var(--standard-empty-tile-color);
    border-spacing: 3px;
    margin: 3px auto;
    width: 54vw;
    height: 40.5vw;
}

.game-board td {
    border-style: inset;
    text-align: center;
    font-size: 1.5vw;
    font-weight: 700;
    width: 8.333333%;
    background-color: var(--standard-empty-tile-color);
    border-color: var(--standard-empty-tile-color);
}

#tile-action-container {
    position: relative;
    /* Match positioning to stats-table, so items appear aligned */
    box-sizing: border-box;
    width: 98%;
    margin: 0px auto;
    border-left: 3px solid var(--main-bg-color);
    border-right: 3px solid var(--main-bg-color);
}

#tile-bank {
    margin: 0.5vw auto;
    width: 35vw;
    height: 3.8vw;
    justify-content: space-around;
}

#tile-bank span {
    box-sizing: border-box;
    border-style: outset;
    font-size: 1.5vw;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 11%; 
    background-color: var(--s-color);
    border-color: var(--single-tile-border-color);
    color: white;
}

.chain-chat-action-container {
    height: 25.5vw;
    display: flex;
    flex-direction: column;
}

#chain-selector-row-container {
    display: none;
    margin-bottom: 0.6vw;
}

.chain-controls-container {
    width: 98%;
    margin: 0px auto;
}

#share-cart-label-container {
    display: flex;
    flex-direction: column;
    flex-basis: 15%;
    font-size: 1.1vw;
    font-weight: bold;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: var(--main-text-color);
}

#share-cart-label {
    font-size: 95%; /* Firefox does weird text wrapping without this */
}

.share-info-label {
    flex-basis: 15%;
    font-size: 1.1vw;
    font-weight: bold;
    align-self: center;
    text-align: center;
    color: var(--main-text-color);
}

#chain-selector-label {
    flex-basis: 15%;
}

#chain-selector-row {
    margin: 0.2vw auto;
    border: var(--standard-section-divider);
    padding: 0.5vw 0px;
    flex-basis: 70%;
    height: 3.25vw;
    justify-content: space-around;
}

#chain-selector-row-placeholder {
    flex-basis: 15%;
}

#share-cart-container {
    flex-basis: 55%;
}

#share-cart {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 23vw;
    height: 4.25vw;
    border: var(--standard-section-divider);
}

#share-cart span {
    font-size: 1.5vw;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-basis: 25%; 
    height: 3.5vw;
    background-color: gray;
}

#chain-selector-row span {
    font-size: 1.5vw;
    font-weight: bold;
    display: none;
    align-items: center;
    justify-content: center;
    width: 10.9%; 
}

.stats-board {
    margin: 0px auto;
    width: 98%;
    border: 3px solid var(--main-bg-color);
    border-collapse: collapse;
    table-layout: fixed;
}

.stats-board th, .stats-board td {
    border: 0.3vw solid var(--main-bg-color);
    border-collapse: collapse;
    background-color: lightgray;
    font-size: 1.25vw;
    font-weight: bold;
    overflow: hidden;
}

.chain-table-header {
    width: 7%;
}

.player-table-header {
    width: 25%;
}

.cash-table-header {
    width: 13%;
}

.net-table-header {
    width: 13%;
}

#ihead, #ibutton {
    background-color: var(--i-color);
}

#chead, #cbutton {
    background-color: var(--c-color);
}

#whead, #wbutton {
    background-color: var(--w-color);
}

#fhead, #fbutton {
    background-color: var(--f-color);
}

#ahead, #abutton {
    background-color: var(--a-color);
}

#thead, #tbutton {
    background-color: var(--t-color);
}

#lhead, #lbutton {
    background-color: var(--l-color);
}

#stats-placeholder-row, #button-buffer-row{
    background-color: var(--main-bg-color);
    color: var(--main-bg-color);
    font-size: 0px; /* control height of space between player and bank rows*/
}

#dispose-shares-container, #buy-shares-container {
    display: none;
}

#dispose-shares-container .dynamic-share-info-column {
    flex-basis: 85%; 
}

#dispose-shares-container .dynamic-share-action-column {
    flex-basis: 15%; 
}

#dispose-shares-editor-container {
    height: 5vw;
    margin: 0% 5%;
    justify-content: space-around;
    align-items: center;
    border: var(--standard-section-divider);
}

.dispose-shares-type-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 30%;
    height: 70%;
}

.share-disposal-info-head {
    color: var(--main-text-color);
    font-size: 1.2vw;
    font-weight: bold;
    text-align: center;
}

.dispose-shares-button-container {
    display: flex;
    justify-content: space-around;
}

.dispose-shares-button-container button {
    height: auto;
    width: 2.7vw;
    font-size: 1.2vw;
    font-weight: bold;
    padding: 0.1vw 0vw 0.1vw 0vw;
}

.share-action-button {
    /*margin: 10px auto;*/
}

#start-game-button {
    font-size: 1.2vw;
    padding: 0.2vw;
    height: auto;
    font-weight: bold;
    position: absolute;
    display: none;
}

.dynamic-share-info-column {
    flex-basis: 70%;
}

.dynamic-share-action-column {
    flex-basis: 30%;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 1.4vw;
    color: var(--main-text-color);
}
.dynamic-share-action-column button {
    font-size: 1.4vw;
    font-weight: bold;
    height: auto;
}

.dynamic-share-action-column input[type=checkbox] {
    transform: scale(1.5);
    margin: 0% 2% 0% 7%;
}

/* Left column */
.game-column {   
    flex-basis: 55%;
}
  
/* Right column */
.stats-column{
    flex-basis: 45%;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.chat-controls-wrapper {
    background-color: var(--main-bg-color);
    width: 97%;
    flex-grow: 1;
    margin: 1vw auto;
    border: var(--standard-section-divider);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

#games{
    height: 150px;
}

.input-label {
    padding: 5px 8px;
}

#new-game-button {
    width: 85px;
    padding: 3px 8px;
    margin: 0px 15px 0px 15px;
}

/* ------------- Styles for elements within chat-column ------------ */
#messages {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  #messages li {
    word-wrap: break-word;
  }
  
  #chat-form {
    width: 100%;
    overflow: visible;
  }
  
  #chat-input {
    font-size: 1.15rem;
    box-sizing: border-box;
    width: 100%;
    padding: 0px 3px;
    border-width: 1px;
    border-style: solid;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
  }
  
  #chat-input:focus {
    outline-style: none;
    border-width: 1px;
    border-style: solid;
    box-shadow: var(--standard-box-shadow);
  }

/*--------------- Scroll bars -------------------*/
body {
    scrollbar-color: #888 var(--main-bg-color);
    scrollbar-width: var(--column-scrollbar-width);
  }
  
  ::-webkit-scrollbar {
    background-color: black;
    width: var(--column-scrollbar-width);
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: var(--main-bg-color); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

/*--------------- Dark mode styles-------------------*/
body.dark-mode{
    --main-bg-color: rgb(48, 48, 48);
    --main-text-color: white;
    --standard-box-shadow: rgba(0, 0, 0, 0.95) 1px 2px 6px;
    /*--standard-border-color: rgb(92, 92, 92);*/
    --standard-empty-tile-color: #adad72;
  }
  
  .dark-mode button {
  
  }